body.img-1-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/wedesignyou.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-2-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/sosyalbio.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-3-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/blueberys.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-4-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/acilmobil.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-5-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/candyarea.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-6-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/loraxthecompany.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-7-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/inderse.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-8-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/code232.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-9-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/zest.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

