body.img-1-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/wedesignyou.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-2-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/sosyalbio.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-3-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/blueberys.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-4-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/acilmobil.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-5-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/candyarea.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-6-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/loraxthecompany.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-7-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/inderse.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-8-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/code232.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

body.img-9-wrap .cursor2, .cursor3 {
  background-image: url('../../assets/img/zest.webp');
  z-index: 99999;
  box-shadow: 0px 30px 30px -5px rgba(0,0,0,0.05);
}

.macekrani {
  width: 90%;
  margin: auto;
  border-style: solid;
  border-radius: 3px;
  border-width: 11px 0px 0px;
  border-color: #000000;
  position: relative;
  box-shadow: 0px 0px, 8px 8px 17px rgb(173,173,173), rgb(227, 227, 227) 0.0173269px 0.0173269px 0px, rgb(228, 228, 228) 1.01733px 1.01733px 0px, rgb(229, 229, 229) 2.01733px 2.01733px 0px, rgb(229, 229, 229) 3.01733px 3.01733px 0px, rgb(230, 230, 230) 4.01733px 4.01733px 0px, rgb(231, 231, 231) 5.01733px 5.01733px 0px, rgb(231, 231, 231) 6.01733px 6.01733px 0px, rgb(232, 232, 232) 7.01733px 7.01733px 0px, rgb(233, 233, 233) 8.01733px 8.01733px 0px, rgb(234, 234, 234) 9.01733px 9.01733px 0px, rgb(234, 234, 234) 10.0173px 10.0173px 0px, rgb(235, 235, 235) 11.0173px 11.0173px 0px, rgb(236, 236, 236) 12.0173px 12.0173px 0px, rgb(236, 236, 236) 13.0173px 13.0173px 0px, rgb(237, 237, 237) 14.0173px 14.0173px 0px, rgb(238, 238, 238) 15.0173px 15.0173px 0px, rgb(238, 238, 238) 16.0173px 16.0173px 0px, rgb(239, 239, 239) 17.0173px 17.0173px 0px, rgb(240, 240, 240) 18.0173px 18.0173px 0px, rgb(241, 241, 241) 19.0173px 19.0173px 0px, rgb(241, 241, 241) 20.0173px 20.0173px 0px, rgb(242, 242, 242) 21.0173px 21.0173px 0px, rgb(243, 243, 243) 22.0173px 22.0173px 0px, rgb(243, 243, 243) 23.0173px 23.0173px 0px, rgb(244, 244, 244) 24.0173px 24.0173px 0px, rgb(245, 245, 245) 25.0173px 25.0173px 0px, rgb(245, 245, 245) 26.0173px 26.0173px 0px, rgb(246, 246, 246) 27.0173px 27.0173px 0px, rgb(247, 247, 247) 28.0173px 28.0173px 0px, rgb(248, 248, 248) 29.0173px 29.0173px 0px, rgb(248, 248, 248) 30.0173px 30.0173px 0px, rgb(249, 249, 249) 31.0173px 31.0173px 0px, rgb(250, 250, 250) 32.0173px 32.0173px 0px, rgb(250, 250, 250) 33.0173px 33.0173px 0px, rgb(251, 251, 251) 34.0173px 34.0173px 0px, rgb(252, 252, 252) 35.0173px 35.0173px 0px, rgb(252, 252, 252) 36.0173px 36.0173px 0px, rgb(253, 253, 253) 37.0173px 37.0173px 0px, rgb(254, 254, 254) 38.0173px 38.0173px 0px, rgb(255, 255, 255) 39.0173px 39.0173px 0px;
}

.macekrani .butonlar {
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: #434343;
  top: -8px;
  left: 12px;
  border-radius: 50%;
}

.macekrani .butonlar:nth-child(3) {
  left: 20px;
}

.macekrani .butonlar:nth-child(1) {
  left: 4px;
}

