.yenishadow {
  box-shadow: 0 70px 63px -60px #000;
}

.quote {
  font-family: 'Gilroy-Light ☞';
  display: initial;
  width: 100%;
  text-align: left;
}

@media (max-width: 576px) {
  .quote {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  .quote {
    font-size: 17px;
  }
}

@media (max-width: 1400px) {
  .container.header {
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  .container.header {
    min-width: 100%;
  }
}

@media (max-width: 576px) {
  .alticizili::after {
    width: 189px;
    height: 8px;
    display: none;
    background-color: var(--alticizili-renk);
    position: absolute;
    z-index: -9;
    content: "";
    left: 66px;
    bottom: 15px;
  }
}

@media (min-width: 576px) {
  .alticizili::after {
    width: 280px;
    height: 10px;
    display: none;
    background-color: var(--alticizili-renk);
    position: absolute;
    z-index: -9;
    content: "";
    left: 100px;
    bottom: 8px;
  }
}

@media (min-width: 576px) {
  .ismim {
    font-size: 45px!important;
  }
}

@media (max-width: 576px) {
  .ismim {
    font-size: 30px!important;
  }
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13,110,253;
  --bs-secondary-rgb: 108,117,125;
  --bs-success-rgb: 25,135,84;
  --bs-info-rgb: 13,202,240;
  --bs-warning-rgb: 255,193,7;
  --bs-danger-rgb: 220,53,69;
  --bs-light-rgb: 248,249,250;
  --bs-dark-rgb: 33,37,41;
  --bs-white-rgb: 255,255,255;
  --bs-black-rgb: 0,0,0;
  --bs-body-color-rgb: 33,37,41;
  --bs-body-bg-rgb: 255,255,255;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --alticizili-renk: #e74142;
}

.ismim {
  color: #000000;
  /*background-color: rgb(255,255,255);*/
  /*mix-blend-mode: difference;*/
}

.portfoliodiv {
  padding: 3rem 0;
  background-color: #f9f9f9;
}

@media (max-width: 768px) {
  .cursror, .cursor2, .cursor3 {
    display: none;
  }
}

@media (min-width: 768px) {
  .dashedbackground {
    height: calc(100vh + 1rem);
    position: fixed;
    width: 50%;
    left: 25%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23EEEEEEFF' stroke-width='4' stroke-dasharray='20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    z-index: -99999;
    top: -.5rem;
  }
}

@media (max-width: 768px) {
  .dashedbackground {
    height: calc(100vh + 1rem);
    position: fixed;
    width: 50%;
    left: 25%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23EEEEEEFF' stroke-width='2' stroke-dasharray='20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    z-index: -99999;
    top: -.5rem;
  }
}

@media (max-width: 768px) {
  .ismim {
    margin-bottom: -4px;
  }
}

.fotolucol {
  display: grid;
  justify-content: center;
  align-items: center;
}

.minidegoster .fotolucol {
  height: calc(100vh - 77px);
}

@media (max-width: 768px) {
  .navbar {
    padding-bottom: 0;
    padding-top: 1rem;
  }
}

@media (max-width: 768px) {
  .minidegoster .card0.fotom {
    margin-top: -120px;
  }
}

@media (max-width: 768px) {
  .hakkimdayazim {
    font-family: 'Gilroy-Light ☞';
    /*display: initial;*/
    font-size: 1.1rem;
    line-height: 35px;
  }
}

@media (min-width: 768px) {
  .hakkimdayazim {
    font-family: 'Gilroy-Light ☞';
    /*display: initial;*/
    font-size: 1.1rem;
    line-height: 35px;
  }
}

@media (max-height: 600px) {
  .promaxdegoster {
    display: none!important;
  }
}

@media (max-width: 768px) {
  .scroll-area.forheader.promaxdegoster {
    height: 200vh;
  }
}

@media (max-width: 768px) {
  .promaxdegoster .selamlama {
    padding-top: 3rem;
  }
}

.minidegoster .socialmedialinks {
  padding-bottom: 2.5rem;
}

.socialmedialinks {
  /*margin-left: calc(50% - 150px)!important;*/
}

